@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@font-face {
    font-family: 'AGENCYFB';
    src: url('../fonts/AGENCYB.TTF') format('tff');
    font-weight: normal;
    font-style: bold;
}
@font-face {
    font-family: 'GADUGI';
    src: url('../fonts/gadugi-bold.ttf') format('tff');
    font-weight: normal;
    font-style: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #1E50C1;
    --secondary-color: #91a7d9;
    --tertiary-color: #213D49;
    --quaternary-color: #DBCE16;
    --quinary-color: #FFFFFF;
}

body {
    line-height: 1.6;
}

.container {
    display: flex;
    width: 85%;
    margin: auto;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

header {
    background: var(--quinary-color);
    color: #333;
    padding-top: 20px;
    min-height: 70px;

}
header h1{
    font-family: "AGENCYFB";
    color: var(--tertiary-color);
    font-weight: normal;
}
header a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header a:hover {
    color: var(--primary-color);
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 15px 0 15px;
    font-family: "GADUGI";
}

header .quote-button {
    float: right;
    text-decoration: none;
    color: #fff;
    background: var(--primary-color);
    padding: 5px 15px;
    border-radius: 5px;
    font-family: "GADUGI";
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--quinary-color);
    padding: 50px 0;
}

.hero-text h2 {
    color: var(--tertiary-color);
    font-size: 48px;
    font-family: "GADUGI";
    font-weight: 500;
}

.hero-text span {
    color: var(--primary-color);
    font-size: 48px;
    font-family: "GADUGI";
    font-weight: bold;
    line-height: 1.2;
}
.hero-text p {
    margin-top: 5px;
    font-family: "GADUGI";
    font-weight: 500;
    width: 40vw;
}
.hero-image img {
    width: 42vw;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: var(--primary-color);
    padding: 30px 45px;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 18px;
    font-family: "GADUGI";
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.811);
}

.clients {
    padding: 20px 0;
    background: #fff;
    text-align: center;
}

.clients ul {
    display: flex;
    justify-content: center;
    list-style: none;

}

.clients li {
    margin: 0 15px;
    font-size: 24px;
    font-weight: bold;
    color: #6e7d7b;
    letter-spacing: 0.1em;
    position: relative;
    font-family: "Montserrat";
}
.services {
    padding: 50px 0;
}

.services h2 {
    text-align: center;
    margin-bottom: 20px;
}

.service-cards {
    display: flex;
    justify-content: space-around;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
    padding: 50px 0;
}

.about-text {
    width: 50%;
}

.about-text h2 {
    margin-bottom: 20px;
}

.about-image img {
    border-radius: 50%;
}

.testimonials {
    padding: 50px 0;
    text-align: center;
}

.testimonial {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

.testimonial img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer .social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}
